.btn-1{
    border: 2px solid $blue;
    color: $white;
    background-color: $blue;
    padding: 0.4em 1.5em;
    border-radius: 10px;
    text-align: center;
}

.btn-2{
    border: 2px solid $pink-opaque-1;
    color: $font-primary;
    background-color: $pink-opaque-1;
    padding: 0.4em 1.5em;
    border-radius: 10px;
    text-align: center;
}