.btn-1{
    border: 2px solid $blue;
    color: $white;
    background-color: $blue;
    padding: 0.4em 50px;
    border-radius: 10px;
}

.btn-2{
    border: 2px solid $pink-opaque-1;
    color: $font-primary;
    background-color: $pink-opaque-1;
    padding: 0.4em 50px;
    border-radius: 10px;
}