.s-our-story{
    display: flex;
    flex-flow: row;
    justify-content: center;
    background-color: $pink-opaque-2;

    &-desc{
        flex: 0 1 60%; 
        padding: 7em 4em 6em 7em;
        display: flex;
        flex-flow: column;
        background-color: $pink-opaque-1;
        justify-content: center;
        
        &-txt{
            padding: 2em 0;
        }
    }
    &-img{
        flex: 0 1 40%;
        margin: auto;
        img {
            max-width:100%;
        }
    }
    
}



/* Media Query */
@media (max-width: 600px) {
    .s-our-story{
        display: flex;
        flex-flow: column;

        &-desc{
            padding: 5em 2em 3em;
        }
    }
}